.homeMiddle {
  flex: 0.40;
  border-right: 1px solid lightgray;
  padding: 0px 70px;
}
.homeMiddle__content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
.homeMiddle__content > button {
  border-radius: 8px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: lightgrey;
}
.homeMiddle__contentButton > button {
  border-radius: 20px;
  margin-bottom: 5px;
  margin-top: 5px;

}
.homeMiddle__contentButton button p {
  font-weight: 700;
  color: grey;
  text-transform: capitalize;
}


.homeMiddle__story{
    margin-top: 15px;
    display: flex;
}
.homeMiddle__post{
  display: flex;
  flex-direction: column;
  align-items: center;
}