.login {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
.login__container {
  width: 450px;
  height: 320px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
  border-radius: 8px;
}
.login__container .login__input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.login__container .login__input > input {
  border: 1px solid lightgray;
  outline: none;
  height: 45px;
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  color: lightgray;
}
.login__container .login__input > input:focus{
    box-shadow: 0px 0px 2px #0c0cff;
}
.login__container .login__input > button {
  background-color: blue;
  color: white;
  margin-top: 12px;
  border: none;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.login__container .login__input > a {
  text-align: center;
  margin-top: 12px;
  color: blue;
  text-decoration: none;
}
.login__container > button {
  margin: 24px auto;
  width: fit-content;
  color: white;
  border: none;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: green;
  padding: 12px;
  text-transform: capitalize;
}
