.postContainer {
  width: 100%;
  background: white;
  height: 150px;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.homeMiddle__postContainer__title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}
.homeMiddle__postContainer__title > input {
  border: none;
  flex: 1;
  background-color: #f0f2f5;
  height: 40px;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  margin-left: 10px;
  font-size: 16px;
}
.homeMiddle__postContainer__button {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.homeMiddle__postContainer__button .video__icon {
  color: #eb0b0b;
  font-size: 30px;
  margin-right: 8px;
}
.homeMiddle__postContainer__button .gallery__icon {
  color: #0da00d;
  font-size: 30px;
  margin-right: 8px;
}
.homeMiddle__postContainer__button .smily__icon {
  color: #f8a50b;
  font-size: 30px;
  margin-right: 8px;
}
